name = "tg-feed-bot"
main = "src/index.ts"
compatibility_date = "2026-02-07"
compatibility_flags = ["nodejs_compat"]

[triggers]
crons = ["*/2 * * * *"] # every 2 minutes

[[d1_databases]]
binding = "DB"
database_name = "tg_feed_bot"
database_id = "REPLACE_ME"
